<div class="p-8 bg-gray-100 min-h-screen">

  <h2 class="text-3xl font-bold mb-6">Now Showing 🎬</h2>

  <div class="grid grid-cols-5 gap-6">

    <div
      *ngFor="let movie of movies"
      [routerLink]="['/movies', movie._id]"
      class="bg-white rounded-lg overflow-hidden shadow-lg hover:scale-105 transition duration-300 cursor-pointer"
    >

      <img [src]="movie.posterUrl"
        class="h-72 w-full object-cover">

      <div class="p-3">
        <h3 class="font-semibold text-lg">{{ movie.title }}</h3>

        <p class="text-sm text-gray-500">
          {{ movie.genre }} | {{ movie.language }}
        </p>
      </div>

    </div>

  </div>
</div>